.drawer {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%; /* Startet außerhalb des Viewports */
  width: 90%;
  height: 90%;
  background: white;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Unsichtbar zu Beginn */
  transition: right 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.drawer.open {
  right: 5%; /* Slidet rein mit kleinem Abstand vom Rand */
  opacity: 1;
}

.drawer-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
