:root {
  /* Fonts */
  --font-family_poppins: 'Poppins', sans-serif;

  /* Colors */
  --colors_dark-grey: #46494e;
  --colors_medium-grey: #838487;
  --colors_light-grey: #c0bebe;
  --colors_off-grey: #f4f1ef;
  --colors_border-grey: #c0bebe80;
  /* --colors_light-grey: firebrick; */
  --colors_near-black: #0a1119;
  --colors_sun-up: #ffbf00;
  --colors_sun-down: #ff6633;
  --colors_semantic-price: #db1420;
  --colors_green: #008c51;
  --colors_basic-white: #ffffff;

  /* Responsive Display Size */
  --max-width-tablet: 768px;
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family_poppins);
  /* color: var(--colors_dark-grey); */
  line-height: 20px;
}

p {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-family_poppins);
  color: var(--colors_near-black);
  /* line-height: 30px; */
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family_poppins);
  color: var(--colors_near-black);
  line-height: 30px;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-weight: 800;
  font-family: var(--font-family_poppins);
  color: var(--colors_semantic-price);
  line-height: 30px;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
