:root {
  /* Fonts */
  --font-family_poppins: 'Poppins', sans-serif;

  /* Colors */
  --colors_dark-grey: #46494e;
  --colors_medium-grey: #838487;
  --colors_light-grey: #c0bebe;
  /* --colors_light-grey: firebrick; */
  --colors_near-black: #0a1119;
  --colors_sun-up: #ffbf00;
  --colors_sun-down: #ff6633;

  /* Responsive Display Size */
  --max-width-tablet: 768px;
}

span {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family_poppins);
  color: var(--colors_dark-grey);
  line-height: 20px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  font-style: var(--font-family_poppins);
  color: var(--colors_near-black);
  line-height: 30px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
