.payments {
  padding: 12px 48px;
  border: solid 2px var(--colors_off-grey);
}

.payments__p {
  height: 30px;
}

.payments__list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 768px) {
  .payments {
    border: none;
    padding: 12px 20px;
  }
}
