.product-variants__category {
  color: var(--colors_near-black);
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.product-variants__option {
  color: var(--colors_sun-down);
  line-height: 30px;
  text-align: center;
}

.product-variants__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  padding: 0;
}
.product-variants__item {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 1px var(--colors_light-grey);
}

.variant--selected {
  border: solid 2px var(--colors_sun-down);
}
.variant--out {
  position: relative;
  border-style: dashed;
  border-width: 1px;
  opacity: 0.5;
  cursor: not-allowed;
  box-sizing: border-box;
  overflow: hidden;
}
.variant--out::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 1px;
  background: var(--colors_light-grey);
  transform: rotate(20deg);
  transform-origin: top left;
  pointer-events: none;
}
.variant--out > span {
  color: var(--colors_medium-grey);
}
