.product-details {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}
.gallery {
  grid-area: gallery;
}
.buybox {
  grid-area: buy;
  border: solid 2px var(--colors_off-grey);
  position: relative;
  padding: 48px 48px 24px 48px;
}
.buybox__highlights {
  position: absolute;
  top: 0;
}
.buybox__product-info {
  margin-bottom: 12px;
}
.buybox__description {
  margin-bottom: 24px;
}
.buybox__product-options {
  margin-bottom: 48px;
}
.buybox__product-price {
  margin-bottom: 12px;
}
.buybox__product-cart {
  margin-bottom: 24px;
}

.payments-wrapper {
  border: solid 2px var(--colors_off-grey);
  padding: 12px 48px;
  margin: 12px 0;
  grid-area: pay;
}
.service-options {
  grid-area: srv;
}
.fake-content {
  grid-area: fake;
  height: 2000px;
  background: lightgray;
}

.user-action {
  grid-area: user-action;
  max-width: 700px;
  width: 100%;
  display: grid;
  grid-template-areas:
    'buy'
    'pay'
    'srv';
}

@media (max-width: 1024px) {
  .product-details {
    gap: 12px;
  }
  .buybox {
    padding: 24px 20px 0px 20px;
    position: unset;
  }

  .payments-wrapper {
    padding: 12px 20px;
  }
  .user-action {
    max-width: none;
    width: 100%;
    justify-items: stretch;
    grid-template-areas:
      'buy'
      'srv'
      'pay';
  }
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    gap: 0px;
    padding: 24px 0;
  }
  .buybox {
    padding: 24px 20px 0px 20px;
    border: none;
    position: unset;
  }
  .payments-wrapper {
    border: none;
  }
  .gallery {
    justify-content: center;
  }
  .user-action {
    grid-template-areas:
      'buy'
      'srv'
      'pay';
  }
}

@media (max-width: 425px) {
  .product-details {
    padding: 0;
  }
}
