.product-gallery {
  display: flex;
  max-width: 700px;
  overflow: hidden;
  gap: 24px;
  justify-content: center;
}

.product-gallery__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 24px;
}
.product-gallery__item {
  gap: 12px;
}
.product-gallery__item-img {
  height: 60px;
  width: 60px;
}
.product-gallery__item-img:hover {
  cursor: pointer;
}
.product-gallery__btn-next {
  height: 40px;
  width: 40px;
}
.product-gallery__btn-next:hover {
  cursor: pointer;
}

.horizontal__list {
  background-color: var(--colors_off-grey);
  border-radius: 4px;
  display: none;
  margin-top: 24px;
  height: 4px;
  flex-grow: 1;
}
.horizontal__item {
  height: 4px;
  border-radius: 4px;
  width: 180px;
}
.horizontal__item:first-child {
  background-color: var(--colors_light-grey);
}

.product-gallery__position {
  flex-grow: 1;
}
.product-gallery__stage-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: fit-content;
  height: fit-content;
}
.product-gallery__stage {
  max-height: 604px;
  max-width: 604px;
  height: auto;
}
.product-gallery__btn-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-gallery__btn-zoom:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .product-gallery {
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .product-gallery {
    flex-direction: column;
    align-items: center;
  }

  .product-gallery__list {
    display: none;
  }

  .horizontal__list {
    display: block;
  }
}

@media (max-width: 425px) {
  .horizontal__item {
    width: 100px;
  }

  .product-gallery__stage-wrapper {
    padding: 0 20px;
  }
  .product-gallery__btn-zoom {
    position: absolute;
    bottom: 0px;
    right: 20px;
  }
}
