.product-gallery {
  display: flex;
  max-width: 688px;
  overflow: hidden;
  flex-grow: 1;
  gap: 24px;
}

.product-gallery__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 24px;
}
.product-gallery__item {
  gap: 12px;
}
.product-gallery__item-img {
  height: 60px;
  width: 60px;
}
.product-gallery__btn-next {
  height: 40px;
  width: 40px;
}

.horizontal__list {
  background-color: var(--colors_off-grey);
  border-radius: 4px;
  display: none;
  margin-top: 24px;
  overflow: hidden;
  width: 604px;
}
.horizontal__item {
  height: 4px;
  width: 70px;
}
.horizontal__item:first-child {
  background-color: var(--colors_light-grey);
}

.product-gallery__position {
  flex-grow: 1;
}
.product-gallery__stage-wrapper {
  position: relative;
  max-height: 604px;
  max-width: 604px;
}
.product-gallery__stage {
  height: 100%;
  width: 100%;
}
.product-gallery__btn-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1024px) {
  .product-gallery__list {
    flex-direction: column;
    margin-right: 0;
    gap: 8px;
  }

  .product-gallery__item-img {
    height: 50px;
    width: 50px;
  }

  .horizontal__list {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .product-gallery {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 100%;
  }

  .product-gallery__list {
    display: none;
  }

  .horizontal__list {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .product-gallery__stage-wrapper {
    max-width: 90%;
    max-height: auto;
  }
}

@media (max-width: 425px) {
  .horizontal__item {
    width: 50px;
  }

  .product-gallery__stage-wrapper {
    max-width: 100%;
    padding: 0 10px;
  }
}
