.sticky-atc-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px; /* Startet außerhalb des Viewports */
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none; /
}

.sticky-atc-bar.active {
  bottom: 0; 
  opacity: 1;
  pointer-events: auto; 
}

.bar-center {
  display: inline-flex;
  max-width: 1400px;
  flex-grow: 1;
  justify-content: space-between;
}
.bar-center__left {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}
.bar-center__right {
  display: inline-flex;
  gap: 24px;
}
.bar-center__right-price {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.bar-center__img {
  width: 64px;
  height: 64px;
}

@media (min-width: 1024px) {
  .sticky-atc-bar {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .bar-center {
    justify-content: stretch;
  }
  .bar-center__right {
    width: 100%;
  }
  .bar-center__right-price {
    display: none;
  }
  .bar-center__left {
    display: none;
  }
}
